@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue-Light.woff2") format("woff2"),
    url("../font/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

body {
  background-color: #1d1d1d;
  height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 31px;
  padding-bottom: 97px;
}
[class*="__container"] {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}
.header {
  // .header__container

  &__container {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 768px) {
      justify-content: start;
    }
  }

  // .header__logo

  &__logo {
    width: 99px;
    height: 25px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}
.main {
  // .main__container
  flex: 1 1 auto;
  display: flex;
  align-items: center;

  &__container {
    display: flex;
    gap: 25px;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100%;
    width: 100%;
    @media (max-width: 768px) {
      justify-content: flex-start;
    }
  }

  // .main__first-title

  &__first-title {
    line-height: 90%;
    letter-spacing: -2%;

    font-size: clamp(40px, 7vw, 80px);
    background: linear-gradient(to right, #f8c2d3, #ab4666, #f8c2d3);
    background-size: 1600px 200px;
    background-position: 0 1600px;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animationgradienttitle 3s infinite linear forwards;
    text-align: center;
    display: flex;
    font-family: "Helvetica Neue";
    align-items: center;

    @keyframes animationgradienttitle {
      0% {
        background-position: 0 1600px;
      }
      100% {
        background-position: 1600px 0;
      }
    }
    @media (max-width: 768px) {
      flex: 1 1 auto;
      text-align: start;
      align-items: flex-start;
      margin-top: 77px;

      align-self: baseline;
    }
  }

  // .main__second-title
  &__block-second {
    align-self: center;
    display: flex;
    gap: 0.2rem;
    @media (max-width: 768px) {
      align-self: baseline;
      flex-direction: column;
    }
  }
  &__second-title {
    font-size: 30px;
    color: #f8c2d3;
    line-height: 90%;
    align-self: center;

    font-size: 30px;
    font-family: "Helvetica Neue";
    @media (max-width: 768px) {
      width: 230px;
      align-self: flex-start;
      font-size: 25px;
    }
  }
}
.footer {
  // .footer__container

  &__container {
    display: flex;
    justify-content: center;
    text-align: center;
  }

  // .footer__button

  &__button {
    &:hover {
      background-color: #f8c2d3;
    }
    margin-top: 28px;
    padding: 10px 25px;
    border-radius: 52px;
    background-color: #fff;
    transition: all 0.3s ease;
    font-family: "Helvetica Neue";
    @media (max-width: 768px) {
      width: 100%;
      font-size: 20px;
      text-align: center;
    }
  }
}
