@font-face {
  font-family: "Helvetica Neue";
  src: url("../font/HelveticaNeue-Light.woff2") format("woff2"), url("../font/HelveticaNeue-Light.woff") format("woff");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
body {
  background-color: #1d1d1d;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding-top: 31px;
  padding-bottom: 97px;
}

[class*=__container] {
  margin: 0 auto;
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
@media (max-width: 768px) {
  .header__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
  }
}
.header__logo {
  width: 99px;
  height: 25px;
}
.header__logo img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 25px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
  width: 100%;
}
@media (max-width: 768px) {
  .main__container {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
}
.main__first-title {
  line-height: 90%;
  letter-spacing: -2%;
  font-size: clamp(40px, 7vw, 80px);
  background: -webkit-gradient(linear, left top, right top, from(#f8c2d3), color-stop(#ab4666), to(#f8c2d3));
  background: -o-linear-gradient(left, #f8c2d3, #ab4666, #f8c2d3);
  background: linear-gradient(to right, #f8c2d3, #ab4666, #f8c2d3);
  background-size: 1600px 200px;
  background-position: 0 1600px;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation: animationgradienttitle 3s infinite linear forwards;
          animation: animationgradienttitle 3s infinite linear forwards;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-family: "Helvetica Neue";
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@-webkit-keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}
@media (max-width: 768px) {
  .main__first-title {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 auto;
            flex: 1 1 auto;
    text-align: start;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    margin-top: 77px;
    -ms-flex-item-align: baseline;
        align-self: baseline;
  }
}
.main__block-second {
  -ms-flex-item-align: center;
      align-self: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.2rem;
}
@media (max-width: 768px) {
  .main__block-second {
    -ms-flex-item-align: baseline;
        align-self: baseline;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.main__second-title {
  font-size: 30px;
  color: #f8c2d3;
  line-height: 90%;
  -ms-flex-item-align: center;
      align-self: center;
  font-size: 30px;
  font-family: "Helvetica Neue";
}
@media (max-width: 768px) {
  .main__second-title {
    width: 230px;
    -ms-flex-item-align: start;
        align-self: flex-start;
    font-size: 25px;
  }
}

.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}
.footer__button {
  margin-top: 28px;
  padding: 10px 25px;
  border-radius: 52px;
  background-color: #fff;
  -webkit-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  transition: all 0.3s ease;
  font-family: "Helvetica Neue";
}
.footer__button:hover {
  background-color: #f8c2d3;
}
@media (max-width: 768px) {
  .footer__button {
    width: 100%;
    font-size: 20px;
    text-align: center;
  }
}